<div id="mmo-hud">
    {{#if party}}
    <aside id="mmo-hud-party" class="{{boxClass}} {{hudSize}}">
        <h1>{{partySize}}</h1>
        <ul class="party-list rpg-nav">
            {{#each party}}
            <li class="party-member rpg-nav-item {{#if targeted}}is-active{{/if}}">
                {{> characterInfo }}
            </li>
            {{/each}}
        </ul>
    </aside>
    {{/if}}

    {{#if enemies}}
    <aside id="mmo-hud-enemy-info">
        <ul class="enemy-list">
        {{#each enemies}}
        <li class="enemy">
            {{> characterInfo excludeValue=true }}
        </li>
        {{/each}}
        </ul>
    </aside>
    {{/if}}
</div>
