@right-padding: 20px;
@yellow-font: #cebda0;
@blue-font: #d4f0f3;

#mmo-hud-party {
  position: absolute;
  //z-index: 101;
  top: 65px;
  left: 115px;
  width: 550px;
  text-align: left;

  > h1 {
    color: @yellow-font;
  }
}

#mmo-hud-party, #mmo-hud-enemy-info {
  .character-info {
    color: @blue-font;

    .image {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      flex: 0 0 auto;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .main-info {
      margin-right: @right-padding;
      flex: 2;

      .metadata {
        font-weight: bold;
        font-size: larger;

        .initiative-order {
          color: #847350;
          background-color: #fff4e2;
          border-radius: 5px;
          border: 2px solid black;
          width: 25px;
          height: 25px;
          display: inline-block;
          text-shadow: none;
          text-align: center;
          padding-top: 2px;
        }
      }

      .bars {
        .bar {
          width: 40%;

          > progress {
            width: 100%;
          }

          .bar-value {
            position: absolute;
            flex: none;
            left: 62%;
            top: 68%;
            font-size: larger;
            font-weight: bold;
            color: @blue-font;
          }

          &:first-of-type {
            margin-right: @right-padding;

            .bar-value {
              left: 32%;
            }
          }

          > .bonus-percent {
            box-shadow: 0em .21em 0em 0em rgba(0,0,0,.5) inset;
          }
        }
      }
    }

    .secondary-info {
      .active-effects {
        .effect {
          width: 40px;
          height: 50px;
          flex: 0 0 auto;
          margin-right: 5px;

          > .effect-frame {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 4px;
            padding-bottom: 7px;

            &.buff {
              margin-top: -4px;
              background-position-y: bottom;
              padding-bottom: 0;
            }

            &.debuff {
              margin-top: 4px;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}

#mmo-hud-enemy-info {
  position: absolute;
  width: 70%;
  bottom: 100px;
  left: 20%;

  .metadata {
    font-size: large;
  }

  .character-info {
    margin-top: 10px;
  }

  .bar-value {
    left: 63% !important;
    top: 33px !important;
  }
}
